extends layout

block title
  |Add a song

block content

  .addSongContainer

    h1.title Add new song to queue

    form(method="post", action="/add")
      input(id="url", name="url", autofocus="autofocus")      
      input(type="submit", value="Add")