<div class="songThumb">
  <div class="imageCol">
    <img src="{{{thumbUrl}}}" alt="" />
  </div>
  <div class="infoCol">
    <p class="title">{{title}}</p>
    <a class="url" href="{{{url}}}">{{{url}}}</a>
  </div>
</div>